<section class="bg-pink custom-section" id="background">
  <div class="container">
    <h3>Parcours</h3><br>

    <div class="row py-5">
      <div class="col-sm-12 col-md-6 col-lg-6 picture-display">
        <%= image_tag("photo-helene.jpg", width:"270px", :class => "picture-frame rotateimg") %>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <p>J’ai toujours eu un intérêt profond et une vocation pour comprendre les autres, avec à cœur que chacun puisse sortir de ses entraves pour grandir et trouver son propre chemin. <br><br> <strong>« Deviens qui tu es »</strong> </p>
        <p>J’ai travaillé depuis plus de 20 ans dans l’audiovisuel en production et en réalisation pour France télévision. J’ai décidé de faire une reconversion professionnelle.</p>
      </div>
    </div>

    <div class="pt-3">
      <p>J’ai d’abord effectué un travail de psychothérapie personnel et je me suis formée à plusieurs pratiques de psychothérapie.</p>
      <ul>
        <li><p>J’ai été formée comme psychopraticienne par l’école d’Analyse Transactionnelle de Paris (I.F.A.T), école qui prépare au C.E.P (Certificat de psychothérapie Européen), référencée par la FF2P ( Fédération française de Psychothérapie)  où je suis supervisée sur ma pratique.</p></li>
        <li><p>J’ai été formée par l’Institut Charles Rojzman de Thérapies sociales. <br> Méthode thérapeutique au sein des groupes et des organisations pour travailler sur les obstacles à la relation et à la coopération et à la gestion des conflits qui est applicable également dans le champ de la thérapie individuelle.</p></li>
        <li><p>Certifiée en PsychoSocioNomie (PSN) <br> Un accompagnement dans le champ de l’entreprise et des organisations, au carrefour de la sociologie, de la psychologie et de l’économie.</p></li>
        <li><p>J’ai été également formée à la gestion des émotions avec Isabelle Filliozat.</p></li>
      </ul>
    </div>

  </div>
</section>