<!-- OPTION 1 -->

<section class="bg-primary text-white custom-section" id="consult">
  <div class="container">
    <h3>Quand consulter ?</h3><br>

    <p><span class="when-custom">Quand</span> vous traversez des difficultés ponctuelles et de la souffrance liées à des crises de vie et que vous avez besoin de soutien pour faire face à la situation : <br> <em>Rupture, divorce, deuil, perte d’emploi, licenciement, burn-out, maladie…</em></p>
    <p><span class="when-custom">Quand</span> vous avez des comportements ou des manifestations physiques qui vous font souffrir et que vous avez conscience d’aspects répétitifs dans votre vie : <br> <em>Difficultés relationnelles : familiales, professionnelles, problèmes éducatifs, problèmes de couple. Crises d’angoisse, de paniques, phobies, addictions, dépression, insomnie, difficulté à gérer les émotions…</em></p>
    <p><span class="when-custom">Quand</span> vous avez besoin d’aide dans vos choix de vie, d’orientation professionnelle, de décisions, de choix affectifs…que vous êtes perdus dans vos désirs et que vous n’avez pas confiance en vous.</p>
    <p><span class="when-custom">Quand</span> vous vous sentez dépassés et que vous n’y arrivez plus tout seul et que vous vous dites « qu’il faudrait en parler à quelqu’un »</p>

  </div>
</section>
