<div class="container-fluid jumbo">
  <div class="jumbo-text text-center">
    <%= render "layouts/flash"%>
    <h4>Bienvenue au cabinet de</h4>
    <h3>HÉLÈNE LEVY-BORREL</h3>
    <h4>Psychopraticienne</h4>
    <div class="btn btn-primary mt-3"><a href="tel:06 12 11 69 56" class="text-white"><i class="fa fa-phone-alt mr-2"></i> 06 12 11 69 56</a></div>
  </div>
</div>