<section class="bg-primary text-white custom-section" id="method">
  <div class="container">
    <h3>Méthode</h3><br>

    <p>Mon cadre de référence est <strong>L’Analyse Transactionnelle</strong>.</p>
    <p>L’Analyse Transactionnelle est une théorie de la personne et une méthode de psychothérapie mise au point par Eric Berne, médecin-psychiatre.</p>
    <p>Cette méthode met l’accent sur la responsabilité de l’être humain et sa <strong>capacité à changer</strong>. Chaque personne a de la valeur et mérite le respect. Chaque personne a la capacité de penser pour elle-même, par elle-même et <strong>peut décider de sa vie.</strong></p>
    <p>C’est une grille de lecture de nos échanges  (Les transactions) qui met en relief notre mode de communication avec les autres à partir du concept des Etats du Moi (Parent, Adulte, Enfant) et qui permet de mieux comprendre nos fonctionnements et l’origine de nos difficultés.</p>
    <p>Cette grille de lecture permet de comprendre « son scénario de vie », « les jeux psychologiques » et d’ouvrir le champ des possibles pour aller vers des options de vie plus juste.</p>
    <p>L’objectif est d’accompagner la personne vers la diminution de la souffrance, et vers des changements en opérant <strong>des re-décisions afin de la conduire vers  l’autonomie et la croissance.</strong></p>
    <p>L’E.A.T.A, association Européenne qui regroupe 7500 membres est présente dans 27 Pays Européen et délivre le certificat Européen.</p>
  </div>
</section>