<section class="bg-pink custom-section" id="modalities">
  <div class="container">
    <h3>Modalités et visée thérapeutique</h3><br>

    <p><strong>Lors de notre première rencontre, je vous accueille en toute confidentialité</strong> et avec toute mon écoute pour évaluer vos attentes et votre demande et décider du type de suivi. Cette première séance est importante pour vérifier que vous vous sentiez en confiance. L’espace thérapeutique est un lieu où vous pouvez tout dire sans être, interrompu jugé, critiqué.</p>
    <p> Une thérapie est <strong>un engagement mutuel</strong> important de part et d’autre :
      <ul>
        <li class="py-1">Le vôtre : être en thérapie,</li>
        <li class="py-1">Le mien : être à vos côtés pour vous accompagner sur ce chemin avec toute mon écoute profonde et bienveillante, mon empathie, mon soutien. Je vous propose les techniques les plus adaptées à votre personnalité pour élaborer des pistes de solutions.</li>
      </ul>
    </p>

    <p>Il peut s’agir <strong>d’un accompagnement psychologique ponctuel</strong> pour faire face à une difficulté.<br>
    <strong>Ou/et d’un travail psychologique en profondeur</strong> pour travailler sur les croyances limitantes, les scénarios répétitifs, les traumatismes…</p>
    <strong>Le nombre et la régularité des séances</strong> varient d’une personne à l’autre en fonction de la demande et du besoin, nous déterminerons le cadre qui vous convient.<br>
    <strong>Les séances sont en face à face au cabinet. Les honoraires sont de 60 euros pour 50mn, hors du cadre réglementé.</strong></p>

    <h4 class="pt-4">Quelles sont les visées du travail thérapeutique ?</h4>
    <ul>
      <li class="py-1">Permettre les <strong>prises de conscience</strong> et une meilleure compréhension de ce qui se passe au niveau comportemental, émotionnel, cognitif.</li>
      <li class="py-1"><strong>Découvrir ses propres ressources et s’appuyer dessus. </strong></li>
      <li class="py-1"><strong>Changer</strong> les comportements douloureux, la souffrance n’est pas inéluctable.</li>
      <li class="py-1"><strong>Aller vers un mieux-être, plus de responsabilité, d’épanouissement et reprendre le contrôle de sa vie.</strong></li>
    </ul>

  </div>
</section>