<section class="bg-pink custom-section" id="therapy">
  <div class="container">
    <h3>Qu'est ce qu'une psychothérapie ?</h3><br>
    
    <p>Effectuer une démarche de Psychothérapie, n’est pas une démarche facile. Beaucoup appréhendent de dévoiler certains aspects de leur personnalité et de leurs pensées les plus intimes à un inconnu.</p>
    <p>Les questions sont nombreuses et légitimes :</p>
    <ul>
      <li><p><strong>En ai-je vraiment besoin ?</strong></p></li>
      <li><p><strong>Est-ce que ça va vraiment m’aider ?</strong></p></li>
      <li><p><strong>Combien de temps ça va durer ?</strong></p></li>
      <li><p><strong>Ca va coûter cher ?</strong></p></li>
      <li><p><strong>Que vont penser les autres ?</strong></p></li>
    </ul>
    <p>Cependant vous êtes la seule personne à pouvoir prendre votre vie en main. N’êtes-vous pas la personne la plus importante de votre vie ? Vous méritez de sortir de la souffrance et des difficultés et d’aller vers un mieux-être.</p>
    <p><strong>Faire une psychothérapie est avant tout une démarche courageuse !</strong> Ce premier pas volontaire vers un mieux-être est le plus souvent salutaire.</p>
  </div>
</section>