/* HOMEPAGE */

@font-face {
  font-family: ITC;
  src: url('app/assets/fonts/ITC Avant Garde Gothic LT Book Regular.otf');
}

.when-custom {
  font-size: 1.171875rem;
  font-weight: bold;
}

.content {
  position: relative;
  z-index: 2;
  margin-top: 100vh;
  width: 100%;
}

.custom-section {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.picture-frame {
  border: 5px solid #019898;
}

.picture-display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.rotateimg {
  -webkit-transform:rotate(355deg);
  -moz-transform: rotate(355deg);
  -ms-transform: rotate(355deg);
  -o-transform: rotate(355deg);
  transform: rotate(355deg);
}

.text-black {
  color: black;
  font-weight: bold;
}

.bg-pink {
  background-color: #FBF4FE
}

/* JUMBOTRON */

.jumbo {
  background-image: url("L1000286.jpg");
  background-size: cover;
  text-align: center;
  padding: 40px 10px;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  top: 0;
}

.jumbo-text {
  position: absolute;
  left: 50%!important;
  z-index: 10;
  color: rgb(236, 234, 234);
  text-align: center;
  top: 50%!important;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 50px
}

/* NAVBAR */
.custom-navbar-link {
  font-weight: 600;
}

.custom-navbar-title {
  font-weight: 800;
  margin-left: 5px;
}

/* FOOTER */

.custom-footer-border {
  border-top: 5px solid #019898;
}