<div class="footer bg-pink text-center py-4 custom-footer-border">
  <div class="container">
    <div class="row ml-5">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h4><strong>Hélène Levy-Borrel</strong></h4>
        <h6>Cabinet de psychothérapie à Cachan</h5>
        <div class="btn btn-sm btn-primary mb-2"><a href="tel:06 12 11 69 56" class="text-white"><i class="fa fa-phone-alt mr-2"></i> 06 12 11 69 56</a></div><br>
        <div class="mb-2"><%= mail_to "contact.helene@psychotherapie-cachan.fr"%></div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <span>Maison pluridisciplinaire de Santé</span><br>
        <span>1 quater, rue Camille Desmoulins</span><br>
        <span>94230 Cachan</span><br>
        <div class="row d-flex justify-content-center pt-2">
          <div class="mx-2">
            <i class="fas fa-subway"></i>
          </div>
          <div class="ml-2">
              <span>RER Arcueil-Cachan</span>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="mx-2">
            <i class="fas fa-bus-alt"></i>
          </div>
          <div class="ml-2">
              <span>Bus 187, 184, 162 - Mairie de Cachan</span>
          </div>
        </div>
      </div>
    </div>

    <span class="text-muted">© Hélène Levy-Borrel, 2020</span>
  </div>
</div>