<nav class="navbar navbar-expand-lg navbar-light text-black fixed-top">
  <a class="navbar-brand" href="">Hélène Levy-Borrel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link scrollLink" href="#therapy">Qu'est ce qu'une psychothérapie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollLink" href="#consult">Quand consulter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollLink" href="#modalities">Modalités</a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollLink" href="#method">Méthode</a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollLink" href="#background">Parcours</a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollLink" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
